@model Rocky_Models.Product
@using Rocky_Utility

<form method="post">

    @if (Model.Id != 0)
    {
      
        <input asp-for="Id" hidden />
    }


    <div class="border p-3">
        <div asp-validation-summary="All" disabled class="text-black-50 danger"></div>
        <div class="form-group row">
            <h2 class="test-info pl-3">Delete Product</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />

                    </div>

                </div>
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" disabled class="form-control" />

                    </div>

                </div>



                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="ApplicationId"></label>
                    </div>
                    <div class="col-8">

                        <input asp-for="ApplicationType.Name" disabled class="form-control" />

                    </div>

                </div>




                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">

                        <div class="col">


                            <button type="submit" class="btn btn-danger w-100">Delete</button>


                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 offset-1 pt-4">
                @* Keep this empty *@
                @if (Model.Id != 0)
                {
                    <img src="@MC.ImagePath@Model.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb" />
                }


            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>

        $(document).ready(function () {
            $('.summernote').summernote({
                height: 275
            });
        });

    </script>
}